<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/sweetalert2.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/style.css') }}"
    />
  </head>

  <body>
    <div class="container2">
      <h2>Iniciar Sesión</h2>
      <form id="login-form" method="post" action="/Admin">
        <div id="row">
          <label for="username">Usuario:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div id="row">
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div id="captcha">
          <div
            class="h-captcha"
            data-sitekey="{{ config['HCAPTCHA_SITE_KEY'] }}"
          ></div>
        </div>
        <div id="row2">
          <button type="submit">Iniciar Sesión</button>
        </div>
      </form>
    </div>
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
  </body>
</html>
