<!DOCTYPE html>
<html>
<head>
    <title>Ticket de Turno</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/sweetalert2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <form method="DELETE" action="/crearTramite" onsubmit="return validation();">
        <div class="container">
            <div id="row">
                <img src="{{ url_for('static',filename='img/logo_favicon.png') }}">
                <h1>Ticket de Turno</h1>
            </div>
            
            <br/><br/>
            
            <div id="row">
                <label for="CURP">CURP: </label>
                <input type="text" name="CURP" id="CURP">
            </div>
            <div id="row">
                <label for="NumeroTurno">NumeroTurno:</label>
                <input type="number" name="NumeroTurno" id="NumeroTurno">
            </div>

            <div id="row4">
                <a class="boton" onclick="javascript:buscar()">Buscar</a>
            </div>

        </div>
        <div class="container3">
            <div id="row">
                <label for="NombreRealizador">Nombre completo de quien realizará el trámite: </label>
                <input type="text" name="nombreRealizador" id="nombreRealizador">
            </div>
            <br/><br/>

            <div id="row">
                <label for="Nombre">Nombre: </label>
                <input type="text" name="Nombre" id="Nombre">
            </div>

            <div id="row">
                <label for="Paterno">Paterno: </label>
                <input type="text" name="Paterno" id="Paterno">
            </div>

            <div id="row">
                <label for="Materno">Materno: </label>
                <input type="text" name="Materno" id="Materno">
            </div>
            <br/><br/>
            <div id="row">
                <label for="Telefono">Telefono: </label>
                <input type="text" name="Telefono" id="Telefono">
            </div>

            <div id="row">
                <label for="Celular">Celular</label>
                <input type="text" name="Celular" id="Celular">
            </div>

            <div id="row">
                <label for="Correo">Correo</label>
                <input type="text" name="Correo" id="Correo">
            </div>
            <br/><br/>
            <div id="row">
                <label for="Nivel">¿Nivel al que desea ingresar o que ya cursa el alumno?</label>
                <select id="Nivel" name="Nivel">
                    <option value="0">Escoga un nivel</option>
                    {% for grado in grados %}
                    <option value="{{ grado.GradoID }}">{{ grado.NombreGrado }}</option>
                    {% endfor %}
                </select>
            </div>

            
            <input type="hidden" name="MunicipioID" id="MunicipioID">
            <div id="row">
                <label for="Municipio">Municipio donde desea estudie el alumno: </label>
                <select id="Municipio" name="Municipio">
                    <option value="0">Escoga un municipio</option>
                    {% for municipio in municipios %}
                    <option value="{{ municipio.MunicipioID }}">{{ municipio.NombreMunicipio }}</option>
                    {% endfor %}
                </select>
            </div>
            <br/><br/>

            <div id="row">
                <label for="Asunto">Seleccione el asunto que va a tratar: </label>
                <select id="Asunto" name="Asunto">
                    <option value="0">Escoga un Asunto</option>
                    {% for asunto in asuntos %}
                    <option value="{{ asunto.AsuntoID }}">{{ asunto.TipoAsunto }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="row2">
                <input type="submit" value="Actualizar Turno">
            </div>
        </div>
    </form>
    <script src="{{ url_for('static',filename='js/sweetalert2.all.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
    <script src="{{ url_for('static',filename='js/scriptEdit.js') }}"></script>
</body>
</html>