---
import { SignIn, SignOut } from "auth-astro/components";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
---

<nav class="nav-links w-5/5 top-20 left-12 bg-red-300 m-0">
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm">
      <a
        href="#responsive-header"
        class="block mt-4 text-teal-200 hover:text-white mr-4"
      >
        Docs
      </a>
      <a
        href="#responsive-header"
        class="block mt-4 text-teal-200 hover:text-white mr-4"
      >
        Examples
      </a>
      <a href="#" class="block mt-4 text-teal-200 hover:text-white"> Blog </a>

      {
        session ? (
          <>
            <SignOut>
              <a
                href="#"
                class="px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4"
              >
                Cerra sesion
              </a>
            </SignOut>
          </>
        ) : (
          <>
            <SignIn provider="google">
              <a
                href="#"
                class="px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4"
              >
                Administrador
              </a>
            </SignIn>
          </>
        )
      }
    </div>
  </div>
</nav>
