<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/flask.svg') }}"
    />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <!-- Tailwind CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    {% block customCSS %} {% endblock %}
  </head>

  <body class="m-0 w-5/5 p-4 leading-normal text-center">
    {% if request.endpoint != 'login' %} {% include "header.html" %} {% endif %}
    {% block body %} {% endblock %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>

    {% if request.endpoint != 'login' %} {% block footer %}
    <footer class="pt-8 pr-4 pb-24 pl-4 text-center">
      &copy; 2024 Ticket-Turno. All rights reserved.
      <div class="social-links">
        <a
          href="https://github.com/Saucedo-Jorge/TicketTurnoOrdi"
          target="_blank"
        >
          <span class="sr-only">Go to GitHub repo</span>
          <svg
            viewBox="0 0 16 16"
            aria-hidden="true"
            width="32"
            height="32"
            astro-icon="social/github"
          >
            <path
              fill="currentColor"
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
            ></path>
          </svg>
        </a>
      </div>
    </footer>
    <style>
      footer {
        flex-shrink: 0;
        background: linear-gradient(var(--gray-gradient)) no-repeat;
        color: rgb(var(--gray));
      }
      .social-links {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 1em;
      }
      .social-links a {
        text-decoration: none;
        color: rgb(var(--gray));
      }
      .social-links a:hover {
        color: rgb(var(--gray-dark));
      }
    </style>

    {% endblock %} {% endif %}
  </body>
</html>
